header {
font-family: "Open Sans";
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(234,234,234,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 )
}

header p {
	font-size: 9px;
	text-transform: uppercase;
	float: right;	
	vertical-align: middle;	
    margin-left: 12px;
    margin-top: 34px;
}
.contact {
	text-transform: uppercase;
	font-size: 10px;
}

.city {
	border-bottom:1px dashed black;
}

.phone {
	font-weight:bold;
	font-family: "Open Sans";
	font-size: 25px;
}

.logo-header {
	overflow: hidden;
	float:left;
    margin-top: 11px;
    margin-left: 97px;
}

.logo {
	
	float: left;
    
}
.nav {
	width: 941px;
	margin:auto;
	background: #ffffff;
	position: relative;
    top: 24px;
}

.nav-pills>li>a {
    border-radius: 0px;
    color:#000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}
.nav-pills>li.active>a {
background: #57bd20;	
	
}

.nav-pills>li.active {
	border-bottom: 5px solid #3f9b26;
	background: #57bd20;
}
.nav-pills>li.active>a:hover {
	background:#57bd20; 
	
}
 ul {
	clear:both;
}

.nav li {
	border-right:1px solid #e7e7e7;
	border-bottom: 5px solid #e7e7e7;
	margin-left: 0px;
	padding: 8px 3px;
	/*box-sizing: border-box;*/
}

.nav-pills>li+li {
    margin-left: 0px;
}

.nav li:hover {
	background:#57bd20; 
	border-bottom: 5px solid #3f9b26;
	color:#ffffff;
}


.nav>li>a:hover {
	background: #57bd20;
	color: #ffffff;
}

nav-pills>li+li {
    margin-left: 0px;
}

.tel{
	margin-left: 124px;
    margin-top: 30px;
    float: right;
}




.social {
	background:url("/Курсы/vsyakoe/Virtuoses/img/social/sprites.png") no-repeat;
	padding-top: 0;	
}

.social-media{
	margin-right: 35px;
	display:inline-block;
	margin-top: 15px;
}

.twitter{
background-position: -49px -16px;
width: 16px;
height: 16px;
}
.vk{
background-position: -7px -16px;
width: 16px;
height: 16px;
}
.facebook{
background-position: -28px -16px;
width: 16px;
height: 16px;
}
.ok{
background-position: -70px -16px;
width: 16px;
height: 16px;
}
.mail{
background-position: -91px -16px;
width: 16px;
height: 16px;
}
.google{
background-position: -133px -16px;
width: 16px;
height: 16px;
}
.livej{
background-position: -112px -16px;
width: 16px;
height: 16px;
}