/*========================
лого хэдер
========================*/

header {
	font-family: "Open Sans";
	box-sizing: border-box;
	height: 117px;

}

header {	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(234,234,234,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 )
}


header p {
	font-size: 9px;
	float: right;	
	vertical-align: middle;	
	margin-left: 12px;
	margin-top: 34px;
}
.contact {
	font-size: 10px;
}

.city {
	border-bottom:1px dashed black;
}

.phone {
	font-weight:bold;
	font-family: "Open Sans";
	font-size: 25px;
}

.logo-header {
	overflow: hidden;
	float:left;
	margin-top: 11px;
}

.logo {
	float: left;
}


.tel{
	margin-top: 26px;
	float: right;
	text-align:right;
}

.container-fluid {
	padding-right: 0px; 
	padding-left: 0px; 
	margin-right: auto;
	margin-left: auto;
}    

.social {
    
}

.logo>a>img {
	width:100%;
}
.social img {
	padding-left: 2px;
}



/*===================
навигация
===================*/
.navbar {
	float:none;
	background: #fff;
	position: relative;
	border-radius: 0px;
	top: -24px;

}
.navbar-default, .head-info {
	width: 941px;
	margin-left:auto;
	margin-right:auto;
}


.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-left: 18px;
	padding-right: 18px;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 5px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	margin-left: 0px;
	padding-left:  18px;
	padding-right: 18px;
}


.text-uppercase a {
	display: inline-block;
}

.navbar-default .navbar-nav>.active>a {
	background:#57bd20; 
	border-bottom: 5px solid #3f9b26;
	color:#ffffff;
	padding-right: 19px;
	padding-left: 19px;
}

.navbar-default .navbar-nav>li>a:hover {
	background:#57bd20; 
	border-bottom: 5px solid #3f9b26;
	color:#ffffff;
}



@media(min-width: 768px) and (max-width: 960px;) { 
.navbar-collapse.collapse { 
	display: none !important; 
	visibility: hidden !important; 
	height: auto !important; 
	padding-bottom: 0; 
	overflow: hidden !important; 
} 
.navbar-collapse.in { 
	display: block !important; 
	visibility: visible !important; 
} 
.navbar-toggle { 
	display: block; 
} 
.navbar-header { 
	float: none; 
} 

.head-info {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

 .logo>a>img  {
	width:50%;
	height: 50%
	
}

} 
@media(min-width: 960px) { 
.navbar-collapse.collapse { 
	display: block !important; 
	visibility: visible !important; 
	height: auto !important; 
	padding-bottom: 0; 
	overflow: hidden !important; 
	padding: 0; 
} 
.navbar-toggle { 
	display: none; 
} 
.navbar-header { 
	float: left; 
} 
} 	

@media(min-width: 320px) and (max-width: 765px;) {
.head-info {
	padding-right: 10px;
	padding-left: 10px;
	width:100%;
	}

	
 .logo>a>img  {
	width:40%;
	height:auto;
	
}

header p {
	font-size: 5px;
}
}