body {
	color:#000;
}
.row {
	
}

.for-someone {
	background: url("../img/block-for.png") 50% 57% no-repeat;
	padding: 25px 20px 20px 30px;
	border-radius: 5px;
	/*padding-left:30px;
	padding-top:25px;*/
}

.for-someone p, .what-you-wait p {
	color:#fff;
	font-size:55px;
	font-family: "Open Sans";
	font-weight: bold;
}

.what-you-wait {
	background: url("../img/wait.png") 2% 95% no-repeat;
	/*height: 105px;*/
	border-radius: 5px;
	padding-left:30px;
	padding-top:25px;
}

.col-md-5 {
	background: url("../img/mmmusicfon.png") 0 0 repeat;
	padding-bottom:233px;
	padding-right: 62px;
    text-align: left;
    font-size: 18px;
    font-family: "Pt serif";
}

.col-md-7 {
    padding-bottom: 50px;
    padding-right:60px;
}

.col-md-7 ul {
	font-size:22px;
	font-family: "Open Sans";
	list-style: url("../img/range.png");
    padding-left: 30px;
    padding-top:40px;
}

.col-md-7 ul>li {
	padding-left: 15px;
}

.col-md-10 p {
	font-family: "Pt serif";
	font-size:18px;
}

.plan-example {
	border-top:1px solid #d1cecb;
	padding-top: 34px;
}

.impressions {
	padding-left: 30px;
	padding-top:26px;
}

.impressions h5 {
    color: #57b720;
    font-weight: bolder;
    font-family: "Open Sans";
    font-size: 22px;
}

.impressions h4 {
	font-family:"Open Sans";
	font-size:30px;
	font-weight:bold;
}

.impressions ul {
	list-style: url("../img/ellipse.png");
    padding-left: 25px;
}

.impressions li {
	margin-bottom: 10px;
	padding-left: 44px;
}

.hashtag span {
	color:#57b720;
	font-weight: bold;
}

.nametag {
	border-bottom: 1px solid #57b720;
}

.col-md-2 p {
	font-weight:800;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.6;
}

.plan-example {
	margin-top: 34px;
}

.container {
	
}

.teacher img {
	border-radius:5px;
}

h1 {
	font-family: "Open Sans";
	font-size:60px;
	font-weight:800;
}

.all-teachers {
	color:#fff;
	background:#9a3c3c;
	text-decoration: underline;
	border-radius:5px;
	font-size:16px;
	padding-left: 15px;
}

.teachers h6 {
	color:#57b720;
	font-size:18px;
	font-weight:bold;
}

.teachers {
    margin-top: 88px;
}

.teachers .teac {
	margin-left:24px;
}

.profile {
	font-size: 10px;
	font-weight:bold;
	color:#575757;
}


.slider a {
	font-size:30px;
	font-family: "Open Sans";
	font-weight: 800;
	text-decoration: underline;
	color:#5b5959;
	
}

.slider a:active {
	text-decoration: none;
	color:#57b720;
}


.how-it-was {
	font-size: 48px;
	font-weight: 800;
	font-family: "Open Sans";
	/*display:inline-block;*/
}

.slider-years {
	text-align:right;
}


@media  (max-width: 990px)  {

.impressions	{
	padding-left:20px ;
	padding-right:20px;
	}

.teachers .teac {
    margin-left: 0px;
}

}